<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="University_E_System.Properties.Settings.University_E_SystemConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\DataBase\University E-System.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="University_E_System.Properties.Settings.University_E_SystemConnectionString1" connectionString="Data Source=DESKTOP-UOBMTB3;Initial Catalog=&quot;University E-System&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="University_E_System.Properties.Settings.University_E_SystemConnectionString2" connectionString="Data Source=DESKTOP-NESPLEP;Initial Catalog=&quot;University E-System&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=&quot;res://*/MainApp.Admin.Admin Forms.Model1.csdl|res://*/MainApp.Admin.Admin Forms.Model1.ssdl|res://*/MainApp.Admin.Admin Forms.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-NESPLEP;initial catalog=&quot;University E-System&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>